@import 'tailwindcss';

@theme {
  /*dark*/
  --color-primary: #eee;
  --color-secondary: #aaa;
  --color-bg: #252525;
  --color-mg: #2f2f2f;
  --color-bdr: #555;
  /*--color-accent: #497d00;*/
  --color-accent: #848c42;

  /*light*/
  /*--color-primary: #333;*/
  /*--color-secondary: #aaa;*/
  /*--color-bg: #eee;*/
  /*--color-mg: #ccc;*/
  /*--color-accent: #848c42;*/
  /*--color-borderColor: #333;*/
}

:root {
  background: var(--color-bg);
  color: var(--color-primary);
}
